---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <main class="w-11/12 pl-7 lg:pl-36 xl:pl-48 pt-32 pb-[30vh]">
        <div class="w-full min-h-screen flex flex-col pl-3">
            <h1 class="text-4xl md:text-6xl font-semibold pb-4 md:pb-10 text-purple-400 underline">Price and Prize Pool</h1>
            <p class="">
                Each player must pay $18 to join the tournament ($90 per team of 5). Teams can have substitutes for an extra $18 per sub.
                <br> 
                The prize pool will be split as follows: 
                <ul class="list-disc pl-5">
                    <li>
                        1st: $1200
                    </li>
                    <li>
                        2nd: $500
                    </li>
                    <li>
                        3rd: $300
                    </li>
                </ul>   
            </p>
            <a href="https://forms.gle/C7gnRtE6BMjhoJMG6">
                <button
                    class="px-9 py-3 mt-3 font-semibold bg-[#ff4655] rounded-lg hover:bg-[#cc3844]"
                    >Sign up</button
                ></a
            >
            <h1 class="text-4xl md:text-6xl font-semibold pt-10 pb-4 md:pb-10 text-purple-400 underline">Format</h1>
            <p class="">
                All matches except the finals will be a best of 3. The final will be a best of 5. <br>
                Round 1 and 2 will be FULLY ONLINE. Quarterfinals and onwards will be held in a LAN format at Playerbase (7850 Woodbine Ave Unit #228, Markham, ON L3R 0B9). <br>
                For rounds 1 and 2 teams must coordinate with their opponents to complete the match during the alloted dates below.

                <ul class="list-disc pl-5">
                    <li>
                        Round 1: August 5-11
                    </li>
                    <li>
                        Round 2: August 12-17
                    </li>
                    <li>
                        Quarter Finals: August 19 TIME TBD
                    </li>
                    <li>
                        Semi Finals: August 20 TIME TBD
                    </li>
                    <li>
                        Finals: August 20 TIME TBD
                    </li>
                </ul>
            </p>

            <h1 class="text-4xl md:text-6xl font-semibold pt-10 pb-4 md:pb-10 text-purple-400 underline">Additional Rules</h1>
            <p class="">
                <ul class="list-disc pl-5">
                    <li>
                        Coaches are not allowed
                    </li>
                    <li>
                        PLEASE MAKE YOUR TRACKER.GG PROFILE PUBLIC
                    </li>
                    <li>
                        Refrain from Trash talk before, during, or after matches. (friendly teasing is alright but anything out of hand will result in instant 
                        DISQUALIFICATION)
                    </li>
                    <li>
                        You are allowed to bring your own mouse and keyboard (Not headset).
                    </li>
                     <li>
                        All payments are final
                    </li>
                    <li>
                        read the above sections for more information
                    </li>
                </ul>
            </p>


            <h1 class="text-4xl md:text-6xl font-semibold pt-10 pb-4 md:pb-10 text-purple-400 underline" >FAQ</h1>
            <h3 class="text-2xl"> Can I stream my tournament games?</h3>
            <p class="">
                Yes, you can stream your games as long as you have a 2 minute delay or longer.
            </p>
            <h3 class="text-2xl"> Can I play online for the LAN portions?</h3>
            <p> We highly recommend that you come to our in-person LAN event since its our main event but if you really can't make it you can play online for it.</p>
        </div>
    </main>
</Layout>

<style>
    p{
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    }
</style>
