---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
    <main class="w-11/12 lg:pl-36 xl:pl-48 pt-32 pb-[30vh]">
        <div class="w-full min-h-screen flex flex-col">
            <h1 class="text-6xl font-semibold pb-10">WHO ARE WE?</h1>
            <p class="indent-28">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                iste obcaecati ipsam, est nemo recusandae dicta cum. Assumenda
                neque mollitia laboriosam voluptas alias exercitationem ex
                commodi earum ab, explicabo unde. Lorem ipsum, dolor sit amet
                consectetur adipisicing elit. Voluptatem laborum iusto soluta
                tempore dolore fugiat quia quaerat qui natus quae non quasi
                magni suscipit autem, numquam dolorem ipsum! Rerum, provident?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                explicabo sint ullam beatae quam animi, reiciendis distinctio
                temporibus quasi doloremque, dolorem aspernatur obcaecati,
                tempore iure odit autem ipsam dignissimos cumque!
            </p>

            <h1 class="text-6xl font-semibold pt-10 pb-10">FAQ</h1>
            <p class="indent-28">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
                iste obcaecati ipsam, est nemo recusandae dicta cum. Assumenda
                neque mollitia laboriosam voluptas alias exercitationem ex
                commodi earum ab, explicabo unde. Lorem ipsum, dolor sit amet
                consectetur adipisicing elit. Voluptatem laborum iusto soluta
                tempore dolore fugiat quia quaerat qui natus quae non quasi
                magni suscipit autem, numquam dolorem ipsum! Rerum, provident?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                explicabo sint ullam beatae quam animi, reiciendis distinctio
                temporibus quasi doloremque, dolorem aspernatur obcaecati,
                tempore iure odit autem ipsam dignissimos cumque!
            </p>
        </div>
    </main>
</Layout>

<style></style>
