---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Home">
    <main class="w-full lg:pl-36 xl:pl-48 pt-32 pb-[30vh]">
        <div class="flex flex-col items-center lg:items-start">
            <h1 class="text-5xl lg:text-7xl xl:text-7xl font-bold mb-2">Valorant</h1>
            <h1 class="text-5xl lg:text-7xl xl:text-7xl font-bold mb-2">Showdown</h1>
            <h1 class="text-5xl lg:text-8xl xl:text-9xl font-bold">2.0</h1>
            <div
                class="flex flex-col gap-7 items-center lg:items-start pt-10 text-center text-lg lg:text-xl font-medium"
            >
                <button
                    class="px-9 py-3 bg-[#ff4655] rounded-lg hover:bg-[#cc3844]"
                    >Sign up</button
                >
                <div class="flex gap-5">
                    <a href="https://www.twitch.tv/korotv_"><button
                        class="px-7 py-3 bg-violet-600 rounded-lg hover:bg-violet-700 flex items-center gap-2"
                        >Twitch <Icon
                            name="ph:twitch-logo"
                            class="w-8"
                        /></button
                    ></a>
                    <a href="https://discord.gg/srPM4REjKa"><button
                        class="px-7 py-3 bg-indigo-600 rounded-lg hover:bg-indigo-700 flex items-center gap-2"
                        >Discord <Icon
                            name="simple-icons:discord"
                            class="w-8"
                        /></button
                    ></a>
                    <!-- <a href="https://www.instagram.com/valorantshowdownmarkham/"><button
                    class="px-7 py-3 bg-[#E1306C] rounded-lg hover:bg-[#C13584] flex items-center gap-2"
                    >Instagram <Icon
                        name="simple-icons:instagram"
                        class="w-8"
                    /></button
                ></a> -->
                </div>
            </div>
        </div>
        <div
            class="absolute top-20 right-0 overflow-x-hidden img-cont hidden lg:block"
        >
            <div
                class="absolute right-0 bg-purple-500 h-full w-full z-20 opacity-40"
            >
            </div>
            <img
                src="/jett4k.jpg"
                alt=""
                width="90%"
                class="relative -right-1/2"
            />
        </div>
    </main>
    <div class="flex flex-col items-center justify-center mb-5">
        <h3 class="text-xs lg:text-3xl xl:text-4xl">Quarter Finals and onwards will be held at PlayerBase</h3>
        <h3 class="text-xs lg:text-3xl xl:text-4xl">7850 Woodbine Ave Unit #228, Markham, ON L3R 0B9</h3>
        <iframe class="m-2 w-10/12 md:h-96" 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11512.255134742893!2d-79.3739434128418!3d43.8337754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d5ea41dd3b3d%3A0x3870168c0cec4afe!2z546p5ZKW5Z-65ZywIFBsYXllciBCYXNl!5e0!3m2!1sen!2sca!4v1684174141017!5m2!1sen!2sca" 
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</Layout>

<style>
    @import url("https://fonts.cdnfonts.com/css/valorant");
    h1 {
        font-family: "VALORANT", sans-serif;
        background-color: #ff4655;
        background-image: -webkit-linear-gradient(
            45deg,
            #ff4655 10%,
            #ff9446 100%
        );

        /* background-image: linear-gradient(45deg, #e0d725, #FF4655); */
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }



    .img-cont > div,
    img {
        clip-path: polygon(0 2%, 100% 2%, 100% 90%, 0 90%);
    }
    .img-cont {
        clip-path: circle(60% at 107% 22%);
    }
</style>
