---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Home">
    <main class="w-full flex flex-col justify-center items-center px-4 lg:px-20 xl:px-32">
        <h1 class="lg:text-3xl font-bold mt-2">Live Bracket</h3>
        <iframe src="https://brackethq.com/b/lj5hb/embed/?zoom=0" width="100%" height="700" frameborder="0" class="my-5 border rounded-sm"></iframe>
    </main>
    
</Layout>

<style>

</style>
