---
import { Icon } from "astro-icon";

---

<div
    class="bg-zinc-900 flex flex-col gap-3 pt-6 pb-3 items-center w-100"
>
<div class="flex gap-10">
    <Icon name="ph:twitch-logo" class="w-9" />
    <Icon name="simple-icons:discord" class="w-8" />
    <Icon name="ph:tiktok-logo-light" class="w-8" />
</div>
<div>
    <h2 class="text-zinc-500">MIT License • © 2023 • All rights reserved</h2>
</div>
</div>

<style></style>
