<div class="w-6/12 mr-10 relative overflow-hidden rounded-bl-[20rem] rounded-tr-[8rem] img-cont hidden lg:block">
    <div
        class="absolute right-0 top-0 bg-violet-900 h-full w-full z-20 mix-blend-overlay"
    >
    </div>
    <img
        src="/jett4k.jpg"
        alt=""
        width=""
        class="scale-150 translate-x-36 translate-y-24 object-fill rounded-l-2xl"
    />
</div>

<style>
</style>
