<div
    class="w-[40rem] relative overflow-hidden rounded-bl-[20rem] rounded-tr-[8rem] img-cont hidden lg:block"
>
    <div
        class="image absolute right-0 top-0 bg-violet-100 mix-blend-lighten h-full w-full"
    >
    </div>
    <div
        class="absolute right-0 top-0 bg-violet-900 mix-blend-overlay h-full w-full"
    >
    </div>
</div>

<style>
    .image {
        background-image: url(/jett4k.jpg);
        background-repeat: no-repeat;
        background-size: 255%;
        background-position-x: 20%;
        background-position-y: 45%;
    }
    @media only screen and (min-width: 1290px) {
        .image {
            background-size: 190%;
            background-position-x: 10%;
        }
    }

    @media only screen and (min-width: 1600px) {
        .image {
            background-size: 159%;
            background-position-x: 10%;
        }
    }
</style>
