---
const currentPath = Astro.url.pathname;
const logo = "/valshowdown_logo_transparent.png";
const navBarActiveClass = `border-b-4 border-indigo-500`;
// const navBarHover = 'hover:border-b-4 hover:border-red-600 hover:bg-white hover:text-black px-2'
const navBarHover =
    "hover:text-black hover:bg-slate-200 rounded px-3 py-1 transition-all duration-50";
---

<div
    class="flex flex-wrap items-center justify-around text-lg lg:text-2xl font-medium w-full py-4 px-32"
>
    <a href="/"><img src={logo} alt="" class="w-12 mb-5 lg:mb-0 lg:w-16" /></a>

    <div class="flex gap-10 items-center">
        <a
            class={currentPath === "/" ? navBarActiveClass : navBarHover}
            href="/">Home</a
        >

        <a
            class={currentPath === "/about" ? navBarActiveClass : navBarHover}
            href="/about">About</a
        >

        <a
            class={currentPath === "/livebracket"
                ? navBarActiveClass
                : navBarHover}
            href="/livebracket">Bracket</a
        >
    </div>
    <a href="https://forms.gle/C7gnRtE6BMjhoJMG6">
    <button
        class="px-6 py-2.5 bg-gradient-to-r from-[#ff4655] from-10% to-indigo-700 transition ease-in-out delay-75 hover:from-[#ff4655] hover:to-indigo-700 rounded-lg hover:scale-110 hidden lg:block"
        >Sign up</button
    ></a>
</div>

<style></style>
