---

const logo = "/valshowdown_logo_transparent.png";
// const { href, title, body } = Astro.props;
---

<div class="container">
    <div >
        <img class="logo" src={logo}> </img>
    </div>

    <a href="/"><h3 class="buttonText">Home</h3></a>
    <a href="details"><h3 class="buttonText">Details</h3></a>
    <a href="https://www.instagram.com/valorantshowdownmarkham/"><img src=/insta-icon.svg class="icon"></img></a>
    <a href="https://www.tiktok.com/@valorantshowdown?_t=8cBhjaQaRvn&_r=1"><img src=/tiktok-white-icon.svg class="icon"></img></a>
    <a href="https://www.twitch.tv/korotv_"><img src=/twitch-icon.svg class="icon tiktok"></img></a>
    <a href="https://discord.gg/srPM4REjKa"><img src="/discord-icon.svg" class="icon"></img></a>
    <button class="signUpButton"><h3 class="buttonText2">Sign Up</h3></button>
</div>
<style>
    @import url("https://fonts.cdnfonts.com/css/valorant");
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around ;
    }
    .buttonText{
        font-family: "VALORANT";
        color: #ff5757;
        padding: 0 0.5rem;
        flex: 1;
    }
    .buttonText2{
        font-family: "VALORANT";
        color: white;
    }
    .signUpButton{
        background-color: #ff5757;
        padding: 0.25rem 0.25rem;
        border-radius: 5px;
        
    }
    .logo{
        height: 60px;
        flex:3;
    }
    .icon{
        max-height: 30px;
        flex :1;
        padding: 0 0.5rem;
    }
</style>
